<div
  fxLayout="row"
  fxLayoutAlign="start center"
>
  <h2>
    <strong>{{dialogData.title}}</strong>
  </h2>
</div>
<div class="m-b-15">
  <p [innerHTML]="dialogData.message"></p>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="end center"
  fxLayoutGap="10px"
>
  <button
    mat-flat-button
    color="warn"
    (click)="closeDialog(false)"
  >
    {{dialogData.btnNoTitle}}
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="closeDialog(true)"
  >
    {{dialogData.btnYesTitle}}
  </button>
</div>
