.container{
    min-width: 300px;
}

.confirm-footer {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 5px;
    }
}

.title {
    font-weight: 700;
}

button.common-save-button {
    background-color: #007ec3;
    color: white;
}

