<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="space-between center"
  color="primary"
>
  <!-- app name -->
  <h3>{{'appName' | translate}}</h3>
  <!-- right side lang change -->
  <button
    [disableRipple]="true"
    [matMenuTriggerFor]="flags"
    mat-icon-button
    class="m-r-10"
  >
    <mat-icon>language</mat-icon>
    <span>
      &nbsp;{{selectedLanguageCode?.toUpperCase()}}
    </span>
  </button>
  <mat-menu #flags="matMenu">
    <button
      mat-menu-item
      *ngFor="let lang of languages"
      (click)="changeLanguage(lang)"
    >
      <span>{{lang.language}}</span>
    </button>
  </mat-menu>

</mat-toolbar>
