<div
  [formGroup]="form"
  fxLayout="row"
>
  <mat-form-field
    fxFlex="100"
    appearance="fill"
  >
    <mat-label>
      {{'taskManagement.taskDetail.formFields.' +  control.name | translate}}
    </mat-label>
    <input
      matInput
      [formControlName]="control.name"
      [type]="control.type"
    >
    <mat-error *ngIf="form.controls[control.name].hasError('required')">{{'required' | translate}}</mat-error>
    <mat-error *ngIf="form.controls[control.name].hasError('min')">{{'minValue' | translate}}</mat-error>
  </mat-form-field>
</div>
