<div
  fxLayout="column"
  fxLayoutAlign="center start"
>
  <h2 class="m-0">
    <strong>
      {{(isEditForm ? 'taskManagement.taskDetail.editTitle' : 'taskManagement.taskDetail.newTitle') | translate}}
    </strong>
  </h2>
  <h5>
    {{ 'taskManagement.taskTypes.' + selectedType | translate}}
  </h5>
</div>
<form
  [formGroup]="formGroup"
  (ngSubmit)="onSaveClick()"
>
  <div *ngFor="let control of jsonFormControls">
    <app-dynamic-form-control
      [form]="formGroup"
      [control]="control"
    ></app-dynamic-form-control>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
  >
    <button
      mat-flat-button
      color="warn"
      (click)="onCancelClick()"
      type="button"
    >
      {{'buttons.cancelButton' | translate}}
    </button>
    <button
      [disabled]="!formGroup.valid"
      mat-flat-button
      color="primary"
      type="submit"
    >
      {{'buttons.saveButton' | translate}}
    </button>
  </div>
</form>
